.container {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--fundo);
}

nav li {
    margin: 0 4.0rem;
}

nav a {
    display: inline-block;
    padding: 1.2rem 3rem;
    color: var(--azul-letras);
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: #313131;
    border-radius: 5%;
    box-shadow: 0 0.4rem 0.8rem rgba(97, 218, 251, 0.2);
    transition: ease-in-out;
}

/*^ Rodapé */
.footer {
    background-color: var(--fundo);
    color: white;
    text-align: center;
    padding-top: 0.8rem;
    font-size: 1.2rem;
    margin-top: auto;
}


/* Container do menu */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    padding: 1rem 2rem;
}

/* Hamburger (escondido no desktop) */
.hamburger {
    display: none;
    font-size: 2rem;
    color: var(--azul-letras);
    cursor: pointer;
}

/* Menu padrão desktop */
#nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

/* Mobile */
@media (max-width: 992px) {
    .hamburger {
        display: block;
    }

    .menu-container {
    display: flex;
    justify-content: end;
}

    #nav-links {
        display: none; /* escondido por padrão */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background-color: var(--fundo);
        width: 150px;
        text-align: right;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    #nav-links.active {
        display: flex; /* aparece quando clica */
    }

    #nav-links li {
        margin: 1rem 0;
    }
}
