.container {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--fundo);
}

nav li {
    margin: 0 4.0rem;
}

nav a {
    display: inline-block;
    padding: 1.2rem 3rem;
    color: var(--azul-letras);
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: #313131;
    border-radius: 5%;
    box-shadow: 0 0.4rem 0.8rem rgba(97, 218, 251, 0.2);
    transition: ease-in-out;
}

/*^ Rodapé */
.footer {
    background-color: var(--fundo);
    color: white;
    text-align: center;
    padding-top: 0.8rem;
    font-size: 1.2rem;
    margin-top: auto;
}


