nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2e333d;
}

nav li {
    margin: 0 40px;
}

nav a {
    display: inline-block;
    padding: 20px 30px;
    color: rgb(97, 218, 251);
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #444;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(97, 218, 251, 0.2);
}



/*^ Rodapé */
.footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;  /* empurra o footer para baixo */
}
