span {
    font-weight: bold;
}

.nome-completo {
    white-space: nowrap;
    font-size: 4.0rem;
}

/*^ Foto */
img.rounded-circle {
    border: 0.5rem solid #e0e0e0;
    max-width: 30rem;
    width: 100%;
    height: auto;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

.perfil-img {
    max-width: 20rem;
    border: 0.5rem solid #e0e0e0;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}
.perfil-img:hover {
    transform: scale(1.03);
}


/* Tablets */
@media (max-width: 1199px) { 
  .nome-completo {
    font-size: 3.2rem;
  }

  .perfil-img {
    max-width: 20rem;
  }
}

/* Celulares médios */
/* @media (max-width: 76.8rem) { 
  .nome-completo {
    font-size: 2.7rem;
    white-space: normal;
  }

  .perfil-img {
    max-width: 18rem; 
  }
} */

/* Celulares pequenos */
@media (max-width: 48rem) { 
  .nome-completo {
    font-size: 2.2rem;
    text-align: center;
  }

  .perfil-img {
    max-width: 15rem;
    margin: 0 auto 1.5rem auto;
    display: block;
  }

  .perfil-section {
    text-align: center;
  }
}
  /* Espaçamento entre os blocos */
  .texto-esquerda {
    margin-top: 1rem;
    padding: 0 1rem;
    
  }

  /* Centralizar melhor o texto */
  .texto-esquerda p {
    text-align: center;
    font-size: 1.5rem;
  }


/* Ajustes para mobile */
@media (max-width: 767.98px) { 
  /* --- ORDEM --- */
.row.align-items-center {
    flex-direction: column-reverse; 
    text-align: center;
  }
}
  .texto-esquerda {
    margin-top: 1.5rem;
}

.perfil-img {
    max-width: 220px; 
    margin: 0 auto 1.5rem auto; 
    display: block;
} 

